/* mobile styles  */

.body-container {
  width: 100%;
}

/* header - top header  */

.top-header-container {
  background-color: #7dd8e8;
  padding: 20px 0px 16px 0px;
}

.search-container {
  display: none;
}
.user-profile-container {
  display: none;
}

/* header - bottom header  */

.bottom-header-container {
  background-color: #f5f5f5;
}

.nav-links-wrapper {
  display: none;
}

.nav-notification-wrapper {
  float: right;
}

/* main content  */

.main-content-container {
  margin: 30px 0px;
}
.aside-left-container {
  display: none;
}

.tab-image {
  display: none;
}

.single-content-wrapper {
  padding: 15px 0px;
  border-bottom: 1px solid #d8d8d8;
  text-align: center;
  width: 100%;
}

/* footer  */

.footer-container {
  background-color: #727272;
}
.footer-wrapper {
  padding: 20px 0px;
  text-align: center;
}
